Source: com.github.timecraft.notifier
Section: x11
Priority: extra
Maintainer: Timecraft <timemaster23x@gmail.com>
Build-Depends: meson,
               debhelper,
               libgtk-3-dev,
               valac,
               libsqlite3-dev,
               libgranite-dev,
               libglib2.0-dev
Standards-Version: 3.9.3

Package: com.github.timecraft.notifier
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A reminders app
