[Desktop Entry]
Type=Application
Name=com.github.Timecraft.Notifier-daemon
Comment=A daemon to handle sending Notifier's notifications
Exec=com.github.Timecraft.Notifier-daemon
Icon=com.github.Timecraft.Notifier
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=true
