[Desktop Entry]
Name=notifier
GenericName=notifier Application
Comment=triggers the notifier
Categories=Utility;Education;
Exec=com.github.Timecraft.notify
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-domain=notifier
X-GNOME-UsesNotifications=true
Keywords=Hello;World;Example
