[Desktop Entry]
Name=Notifier
GenericName=Reminders Application
Comment=Remind yourself
Categories=Utility; Accessories;
Exec=com.github.Timecraft.notify
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-domain=notifier
X-GNOME-UsesNotifications=true
Keywords=Reminders;Alerts;
