[Desktop Entry]
Type=Application
Name=com.github.timecraft.notifier-daemon
Comment=A daemon to handle sending Notifier notifications
Exec=com.github.timecraft.notifier-daemon
Icon=com.github.timecraft.notifier
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=true
