[Desktop Entry]
Name=Notifier
GenericName=Reminders Application
Comment=Remind yourself
Categories=Utility; Accessories;
Exec=com.github.Timecraft.notifier
Icon=com.github.Timecraft.Notifier.svg
Terminal=false
Type=Application
X-GNOME-Gettext-domain=notifier
X-GNOME-UsesNotifications=true
Keywords=Reminders;Alerts;
