[Desktop Entry]
Type=Application
Name=Notifier
GenericName=Reminders
Comment=Remind yourself
Categories=GNOME;GTK;Utility; Accessories;
Exec=com.github.timecraft.notifier
Icon=com.github.Timecraft.Notifier
Terminal=false

X-GNOME-Gettext-domain=notifier
X-GNOME-UsesNotifications=true
Keywords=Reminders;Alerts;
